version: '3.8'

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    env_file:
      - .env
    environment:
      - N8N_HOST=${N8N_HOST}
      - N8N_PORT=${N8N_PORT}
      - N8N_PROTOCOL=${N8N_PROTOCOL}
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
      - N8N_BLOCK_FILE_ACCESS_TO_N8N_FILES=false
      - N8N_RESTRICT_FILE_ACCESS_TO=""
      - NODES_EXCLUDE=[]
      - N8N_IMPORT_WORKFLOWS_FROM_FOLDER=/home/node/workflows
      - N8N_USER_MANAGEMENT_DISABLED=true
      
    volumes:
      - n8n_data:/home/node/.n8n
      - ./workflows:/home/node/workflows
      - ./prompt:/home/node/prompt

volumes:
  n8n_data:
    external: false